/*BECKGROND-CLIP plano de fundo (background) de um elemento é recortado ou cortado em relação à sua caixa de conteúdo,  
valor PADDING-BOX: O plano de fundo é recortado para a caixa de preenchimento (padding box), que inclui apenas o conteúdo e o preenchimento do elemento. A borda não é afetada, e o plano de fundo não se estende até a borda.
BACKGROUND-ORIGIN tem o mesmo princípio, porém usado para imagens
*/


@font-face {
    font-family: Open Sanse;
    src: url('../fonts/OpenSans-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sanse, 'Arial';
    
}
html, body {
    height: 100%;
    overflow-x: hidden;
}
.center {
    width: 1200px;
    margin: 0 auto;
}
.header {
    min-width: 1200px;
    width: 100%;
    height: 100px;
    background-color: #212343;
}
.header > img {
    margin-left: 4.5rem;
}
.container-banner {
    width: 100vw;
    height: 557px;
    background-image: url('../assets/header_bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.texto {
    width: 40vw;
    float: left;
    margin-top: 2%;
    margin-bottom: auto;
    margin-right: 2%;
    margin-left: -5%;
}
.texto p {
    text-align: start;
    background-color: rgb(36, 35, 67, 0.7);
    padding: 1rem;
    height: auto;
    color: white;
    font-weight: 100;
}
.form {
    width: 40vw;
    height: calc(100% + 30px);
    /* Função calc() serve para calcular % com px */
    border: 8px solid rgb(120, 120, 120, 0.3);
    background-clip: padding-box;
    background-color: white;
    float: right;
    position: relative;
    top: -15px;
    /* tirei 15px dos 30px adicionado e coloquei para top e bottom */
    transform: translate(-50px, 0);
}
.form h2 {
    padding: 0.5rem;
    text-align: center;
    font-weight: normal;
    color: #999999;
}
.inputs-container {
    margin-top: 1.5rem;
    margin-left: 1rem;
}
.inputs-container > input, label, p {
    display: inline-block;
    width: 80%;
    margin: 0.5rem 2rem;
    color: #8a7e7ebb;
    font-size: 17px;
    font-weight: bold;
}
.inputs-container > input {
    height: 50px;
    border: 1px solid #ccc;
    outline: none;
    padding: 0.5rem;
}
.inputs-container .input-submit > input[type=submit] {
    width: 40%;
    background-color:#36346D;
    color: white;
}
.input-submit > input[type=submit] {
    display: block;
    margin: auto;
    height: 50px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid #4a5097;
}
.input-submit > input[type=submit]:hover {
    background-color: #212343;
}
.container2 {
    padding: 1rem;
    background-color: #999999;
    min-width: 1200px;
}
.container2 p {
    padding: 1rem;
    color: black;
    font-weight: 100;
    margin-left: -1.5rem;
}
.container2 h2 {
    font-weight: normal;
    margin-left: -0.5rem;
}
.arrow {
    position: relative;
    width: 45px;
    height: 45px;
    top: 20px;
    left: 50%;
    margin-left: -22px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container3 h1 {
    text-align: center;
    margin: 4rem 0;
}
.container4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container4 .icone {
    text-align: center;
}
.container4 p {
    text-align: justify;
}
.footer {
    border-top: 1px solid #999999;;
}
.footer .footer-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap;
}
.footer .footer-paragraph  {
    color: #999999;
    text-align: center;
}
